.inputField {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 
  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
  dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.buttonPrimary {
  @apply px-6 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700;
}
.percentage {
  width: 100px; /* กำหนดความกว้าง */
  padding: 8px; /* กำหนด padding */
  border: 1px solid #ccc; /* สีขอบ */
  border-radius: 10px; /* มุมโค้งมน */
  height: 20px
}